.container-all{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.container-cards{
    width: 700px;
    background-color: #0d4d8193;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2em;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
}

.info{
    margin-bottom: 30px;
    color: white;
    align-self: end;
    font-size: larger;
    font-weight: 500;
}

.btn-volver{
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    background-color: white !important;
    color: #0d4c81 !important;
    text-decoration: none !important;
    font-weight: 600 !important;
    font-size: large !important;
}



.btn-nuevo{
    background-color: white !important;
    color: #0d4c81 !important;
    text-decoration: none !important;
    font-weight: 600 !important;
    font-size: large !important;
    margin-bottom: 30px !important;
}

.btn-nuevo:hover{
    background-color: #ced2fd !important;
}

@media (max-width: 700px) {
    .container-cards {
        width: 340px;
    }
}





