.btn-home{
    width: 100% !important;
    background-color: white !important;
    color: #270152 !important;
    text-decoration: none !important;
    font-weight: 600 !important;
    height: 15% !important;
    font-size: x-large !important;
}
.btn-home:hover{
    background-color: #a3aaf0 !important;
}