

.container-memo h1 {
    color: #fff;
}

.container-memo {
    background-image: url('../../../public/cycle.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 12px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .volume-control svg {
    font-size: 2rem;
    color: #fff; /* Ajusta el color del ícono según sea necesario */
  }  

  @media (max-width: 500px) {
    .container-memo {
        height: 100vh;
    }
}

@media (min-width: 501px) {
    .container-memo {
        height: auto; /* Opcional, asegura que el height no se aplique */
    }
}