li:first-child .text {
    background-color: violet;
    /* background-color: black; */
}
li:nth-child(2) .text {
    background-color: indigo;
    /* background-color: black; */
}
li:nth-child(3) .text {
    background-color: blue;
    /* background-color: black; */
}
li:nth-child(4) .text {
    background-color: green;
    /* background-color: black; */
}
li:nth-child(5) .text {
    background-color: yellow;
    /* background-color: black; */
}
li:nth-child(6) .text {
    background-color: orange;
    /* background-color: black; */
}
li:nth-child(7) .text {
    background-color: red;
    /* background-color: black; */
}
li:nth-child(8) .text {
    background-color: brown;
    /* background-color: black; */
}


li:first-child {
    transform: rotate(-90deg) skewY(-45deg);
}
li:nth-child(2) {
    transform: rotate(-45deg) skewY(-45deg);
}
li:nth-child(3) {
    transform: rotate(0deg) skewY(-45deg);
}
li:nth-child(4) {
    transform: rotate(45deg) skewY(-45deg);
}
li:nth-child(5) {
    transform: rotate(90deg) skewY(-45deg);
}
li:nth-child(6) {
    transform: rotate(135deg) skewY(-45deg);
}
li:nth-child(7) {
    transform: rotate(180deg) skewY(-45deg);
}
li:nth-child(8) {
    transform: rotate(225deg) skewY(-45deg);
}

.circle {
    width: 25em;
    height: 25em;
    border: 1px solid black;
    position: relative;
    padding: 0;
    margin: 1em auto;
    border-radius: 50%;
    list-style: none;
    overflow: hidden;
}
li {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%; 
    height: 50%;
    transform-origin: 0% 100%; 
}
.text {
    position: absolute;
    left: -100%;
    width: 200%;
    height: 200%;
    text-align: center;
    display: block;
    transform: skewY(45deg) rotate(15deg);
    padding-top: 20px;
    cursor:pointer;
    font-weight: bold;
    font-size: 18px;
}

.arrow{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 50px solid black;
    position: absolute;
    left: 50%;
    top: -20px;
    z-index: 1;
}
.spin-button{
    position: absolute;
    left: 40%;
    width: 120px;
    height: 40px;
    background-color:blue;
    border-radius: 30px;
    margin-top: 20px;
    cursor:pointer;
    outline:none;
    color:white;
    font-size:18px;
}
.start-rotate{
    animation: start-rotate 1s linear infinite;
}

@keyframes start-rotate {
    100% {
        transform: rotate(360deg)
    }
}

.stop-rotate{
    animation-play-state: paused;
}