.hide{
    display: none;
}

#testPoint{
    position: absolute;
    left:587px;
    top:312px;
}

.main-container{
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.container{
    height:59vh;
    width: 32%;
    display: flex;
}

li:first-child .text {
    background-color: #643618e6;
    /* background-color: black; */
}
li:nth-child(2) .text {
    background-color: #643618;
    /* background-color: black; */
}
li:nth-child(3) .text {
    background-color:#643618e6;
    /* background-color: black; */
}
li:nth-child(4) .text {
    background-color: #643618;
    /* background-color: black; */
}
li:nth-child(5) .text {
    background-color: #643618e6;
    /* background-color: black; */
}
li:nth-child(6) .text {
    background-color: #643618;
    /* background-color: black; */
}
li:nth-child(7) .text {
    background-color: #643618e6;
    /* background-color: black; */
}
li:nth-child(8) .text {
    background-color: #643618;
    /* background-color: black; */
}


.list-1{
    transform: rotate(-90deg) skewY(-45deg);
}
.list-2 {
    transform: rotate(-45deg) skewY(-45deg);
}
.list-3 {
    transform: rotate(0deg) skewY(-45deg);
}
.list-4 {
    transform: rotate(45deg) skewY(-45deg);
}
.list-5 {
    transform: rotate(90deg) skewY(-45deg);
}
.list-6 {
    transform: rotate(135deg) skewY(-45deg);
}
.list-7 {
    transform: rotate(180deg) skewY(-45deg);
}
.list-8 {
    transform: rotate(225deg) skewY(-45deg);
}

.circle {
    width: 24em;
    height: 24em;
    border: 1px solid black;
    position: absolute;
    padding: 0;
    border-radius: 50%;
    list-style: none;
    overflow: hidden;

    /* margin: 50vh auto 0;
    transform: translateY(-50%); */
}
li {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%; 
    height: 50%;
    transform-origin: 0% 100%; 
}
.text {
    position: absolute;
    left: -100%;
    width: 200%;
    height: 200%;
    text-align: center;
    display: block;
    transform: skewY(45deg) rotate(15deg);
    padding-top: 20px;
    cursor:pointer;
    font-weight: bold;
    font-size: 18px;
}

.arrow{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 50px solid black;
    position: absolute;
    left: 50%;
    top: calc(50% - 240px);
    z-index: 1;
}
.spin-button{
    position: absolute;
    z-index: 1;
    width: 45px;
    height: 40px;
    background-color:black;
    border: 3px solid #af7650;
    border-radius: 50%;
    cursor:pointer;
    outline:none;
    color:white;
    font-size:18px;
}
.start-rotate{
    animation: start-rotate 1s linear infinite;
}

.restart-rotate{
    animation: start-rotate is none;
}

@keyframes start-rotate {
    100% {
        transform: rotate(720deg)
    }
}

.stop-rotate{
    animation-play-state: paused;
}

.img-container{
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 25px);
    width: 20%;
    height: 20%;
}

.btn-container{
    width: 100%;
    display: flex;
}


.size-width{
    width:90%;
}
.size-height{
    height: 75%;
}





.dialog-one{
    margin: 0 auto;
    height: 80%;
    width:100%;
}

.dialog-two{
    margin: 0 auto;
    height: 50%;
    width: 75%;

}



@media (min-width: 240px) {
    .main-container{
        transform: scale(0.5);
    }

    #btn-1{
        width: 90%;
    }
    #btn-2{
        width: 90%;
    }
    #btn-3{
        width: 90%;
    }
}

@media (min-width: 280px) {
    .main-container{
        transform: scale(0.65);
    }
    
    #btn-1{
        width: 70%;
    }
    #btn-2{
        width: 70%;
    }
    #btn-3{
        width: 70%;
    }
}

@media (min-width: 320px) {
    .main-container{
        transform: scale(0.78);
    }
}

@media (min-width: 360px) {
    .main-container{
        transform: scale(0.9);
    }
    .MuiDialog-root{
        width: 100% !important;
        margin: 0 auto;
    }
}

@media (min-width: 420px) {
    .main-container{
        transform: scale(1);
    }
}
/* 
@media (min-width: 720px) {
    #btn-1{
        width: 75%;
    }
    #btn-2{
        width: 75%;
    }
    #btn-3{
        width: 75%;
    }
} */