.card{
    cursor: pointer;
    position: relative;    
}

.card img {
    max-width: 100%;
    display: block;
    border-radius: 6px;
}


.img-front{
    max-height: 100%;
    animation: 3s hideImage linear;
    transition: transform 0.5s;
}

@keyframes hideImage {
    0%, 70%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}


/*front of card - the picture */

.card .img-front {
    transform: rotateY(90deg);
    position: absolute;
}

.flipped .img-front{
    transform: rotateY(0deg);
}




/* .card.active {
    transform: rotateY(0);
}

.card.correct {
    background-color: #86db86;
}

.card.wrong {
    background-color: #db6d6d;
}

.card.active img {
    transform: scale(1);
} */