@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

#root {
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Bagel Fat One", system-ui; /* Usando 'Bagel Fat One' como fuente principal */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0d4c81;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.bagel-fat-one-regular {
  font-family: "Bagel Fat One", system-ui; /* Esta clase ahora es redundante */
}

.roboto-mono {
  font-family: 'Roboto Mono', monospace; /* Aplica Roboto Mono solo a este botón */
}